= render partial: 'invoices/invoice_header'
.row
  .col-xs-12.col-md-12.col-lg-12
    %h1.text-center
      %b INVOICE

.row
  .col-xs-12.col-md-12
    %table.table.table-bordered
      %tr
        %td
          .col-xs-8
            %dl.invoice
              %dt{ style: 'text-align: left'} Invoice number
              %dd
                = ': '
                = invoice.number
            %dl.invoice
              %dt{ style: 'text-align: left'}
                Date
              %dd
                = ': '
                = invoice.date.strftime('%Y-%m-%d')
          .col-xs-4
            = simple_format(invoice.recipient_details)

.row
  .col-xs-12.col-md-12
    %table.table.invoice-table
      %thead
        %th Pos
        %th Description
        %th Qty
        %th.text-right Price
        %th.text-right VAT %
        %th.text-right VAT
        %th.text-right Amount
      %tbody
        - invoice.invoice_items.each.with_index(1) do |item, index|
          %tr
            %td= index
            %td= item.description
            %td= item.quantity
            %td.text-right= number_with_precision(item.price, precision: 2)
            %td.text-right= number_with_precision(item.vat_percent, precision: 2)
            %td.text-right= number_with_precision(item.vat, precision: 2)
            %td.text-right= number_with_precision((item.quantity.to_f * item.price.to_f) + item.vat_percent.to_f, precision: 2)
        %tr
          %td{ colspan: 7 }

        %tr
          %td
          %td{ colspan: 4 }
            %b Net total
          %td.text-right
            %b= invoice.currency
          %td.text-right{ style: 'white-space: nowrap' }
            %b
              = number_with_precision(invoice.total_amount, precision: 2)
        %tr
          %td
          %td.text-left
            %b VAT

          %td.text-right{ colspan: 2 }
            %b
              = number_with_precision(invoice.total_amount, precision: 2)
              = invoice.currency
          %td.text-right{ style: 'white-space: nowrap', colspan: 3 }
            %b= number_with_precision(invoice.vat, precision: 2)

        %tr
          %td
          %td{ style: 'white-space: nowrap', colspan: 4 }
            %b Total due
          %td.text-right
            %b= invoice.currency
          %td.text-right{ style: 'white-space: nowrap' }
            %b= number_with_precision(invoice.payable, precision: 2)

    %br
    %p
      Stichting EuroBSDCon Foundation is not VAT registered
      %br
      %br
      %br

    %table{ style: 'margin-bottom: 5px;', align: 'center' }
      %tr
        %td{ style: 'border-top: 1px solid;' }
          %div{ style: 'text-align: center !important;' }
            EuroBSDcon Foundation is registered with the Kamer van Koophandel (Chambre of Commerce)
            %br
            in the Netherlands as "Stichting EuroBSDcon" under number 54254515
