in FIELDS!
.row
  .col-md-3
    = f.input :description, label: false, autofocus: true

  .col-md-2
    = f.input :quantity, label: false, input_html: { onchange: 'payable_change()' }

  .col-md-2
    = f.input :vat_percent, label: false

  .col-md-2
    = f.input :vat, label: false

  .col-md-2{ style: 'padding: 0 0 0 0'}
    = f.input :price, label: false, input_html: { onchange: 'payable_change()' }

  .col-md-1
    = remove_association_link :invoice_item, f
