.row
  .col-md-12
    .page-header
      %h1
        Payments
        = semantic_form_for '', url: new_admin_conference_payment_path(@conference), method: :get, html: { class: 'form-inline pull-right' } do |f|
          .input-group.pull-right#user-payment

            = f.input :user_id, collection:@registered_users.map {|user| ["#{user.name} (#{user.username}) #{user.email}", user.id] }, input_html: { required: 'required' }, include_blank: 'Select User (must be registered to the conference)', label: false

            -# = user_selector_input f, @conference.registrations.pluck(:user_id)
            %span.input-group-btn
              = f.submit 'New Payment', class: 'btn btn-success'

.row
  .col-md-12
    %table.table.datatable
      %thead
        %th.text-center ID
        %th.text-center Status
        %th.text-center Amount
        %th.text-center Authorization Code
        %th.text-center User
        %th.text-center Tickets
        %th.text-center Created At
        %th.text-center Actions
      %tbody
        - @payments.each.with_index do |payment, index|
          %tr
            %td= payment.id
            %td.text-center
              - if payment.success?
                .fa.fa-check.text-success{ title: 'Success' }
              - elsif payment.unpaid?
                .fa.fa-angle-double-right.text-warning{ title: 'Pending' }
              - else
                .fa.fa-times.text-danger{ title: 'Failed' }
            %td.text-right= payment.amount/100.0
            %td= payment.authorization_code
            %td
              - if can? :show, payment.user
                = link_to payment.user.name, admin_user_path(payment.user)
              - else
                = link_to payment.user.name, user_path(payment.user)
            %td
              - payment.ticket_purchases.group_by(&:ticket).each do |ticket, purchase|
                .col-md-1
                  = purchase.sum(&:quantity)
                .col-md-1
                  x
                .col-md-10
                  = link_to ticket.title, admin_conference_ticket_path(@conference, ticket)

            %td{ title: payment.created_at }= payment.created_at.to_date
            %td.text-center
              .btn-group
                = link_to 'Edit', edit_admin_conference_payment_path(@conference, payment), class: 'btn btn-primary'
                - if payment.ticket_purchases.select{ |tp| tp.invoices.any? }.any?
                  = link_to 'Invoices', admin_conference_invoices_path(@conference, payment_id: payment), class: 'btn btn-success'
                = link_to 'Create Invoice', new_admin_conference_invoice_path(@conference.short_title, payment_id: payment, kind: 'ticket_purchases'), class: 'btn btn-warning'
