%tr
  %td.col-sm-8.col-md-4
    .media
      .media-body
        %h4.media-heading
          = ticket.title
          - if ticket.dependent
            %h5.text-muted
              To get this ticket you also need the
              =  ticket.dependent.title
              ticket
        %h5.media-heading
        - unless ticket.description.blank?
          = markdown(ticket.description)
  %td.col-sm-1.col-md-2.text-center
    = ticket.registration_ticket? ? 'Yes' : 'No'
  %td.col-sm-1.col-md-1
    - options = { type: 'number', min: 0, max: ticket.event.try(:max_attendees) ? 1 : 99, class: "form-control quantity", 'data-id' => ticket.id }
    - if ticket.registration_ticket?
      - options[:max] = 1
      - options[:disabled] = current_user.tickets.for_registration(ticket.conference).present?
    = text_field_tag("tickets[][#{ticket.id}]", @selection.present? ? @selection[ticket.id] : 0 , options)
  %td.col-sm-1.col-md-1.text-center
    = ticket.price.symbol
    %span{id: "price_#{ticket.id}"}
      = price_with_discount(ticket, @user_registration)
  %td.col-sm-1.col-md-1.text-center
    %strong
      = ticket.price.symbol
      %span.total_row{id: "total_row_#{ticket.id}"}
        0
