.container
  .row
    .col-md-12
      .page-header
        %h1
          Tickets
          = link_to 'Edit Registration', edit_conference_conference_registration_path(@conference), class: 'btn btn-primary pull-right'
      = render partial: 'conference_registrations/coupons'
      - if @conference.coupons.any?
        %hr

      %p.lead
        Please choose your tickets for
        %strong
          = @conference.title
        here*

      = render partial: 'tickets_table'

  .row
    .col-md-13
      %p.text-muted.text-center
        %small
          * Getting a registration ticket is mandatory. Your participation will not be valid until you get a registration ticket.
  = render partial: 'conference_registrations/coupons'
