.row
  .col-md-12
    .page-header
      %h1
        - if @ticket.new_record?
          New
        = @ticket.title
        Ticket
.row
  .col-md-8
    = semantic_form_for(@ticket, url: (@ticket.new_record? ? admin_conference_tickets_path : admin_conference_ticket_path(@conference.short_title, @ticket))) do |f|
      = f.input :title, input_html: { autofocus: true }
      = f.input :description, input_html: { rows: 5, data: { provide: 'markdown-editable' } }
      = f.input :price
      = f.input :price_currency, as: :select, class: 'form-control', collection: ['USD', 'EUR', 'GBP', 'INR', 'CNY', 'CHF'], include_blank: false
      = f.input :registration_ticket, hint: 'A registration ticket is with which user register for the conference.'
      = f.input :start_date, as: :string, input_html: { readonly: 'readonly', id: 'datetimepicker-start-date'}
      = f.input :end_date, as: :string, input_html: { readonly: 'readonly', id: 'datetimepicker-end-date'}
      = f.input :dependent, collection: @conference.tickets, include_blank: '(Please select)', label: 'Requires purchase of ticket:'
      = f.input :event, collection: @conference.program.events, include_blank: '(Please select)'
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }

:javascript
  $(document).ready(function() {
    $('#ticket_event_ids').selectize({
      plugins: ['remove_button'],
      maxItems: 1
    } )
  });
