= javascript_include_tag "//www.google.com/jsapi", "chartkick"
= javascript_include_tag 'chartkick'

.row
  .col-md-12
    .page-header
      %h1 Tickets
      %p.text-muted
        Tickets to get during registration
%br
- if @conference.tickets.any?
  .row
    .col-md-12
      %table.datatable#tickets
        %thead
          %th Title
          %th Active
          %th Price
          %th Sold
          %th Turnover
          %th Registration Ticket
          %th Start Date
          %th End Date
          %th Related Event(s)
          %th Requires ticket
          %th Actions
        %tbody
          - @conference.tickets.each do |ticket|
            %tr
              %td
                = link_to(admin_conference_ticket_path(@conference.short_title, ticket.id)) do
                  = ticket.title
              %td{ 'data-order' => ticket.active?.to_s }
                - if ticket.active?
                  .fa.fa-check.text-success
                - else
                  .fa.fa-times.text-danger
              %td
                = humanized_money_with_symbol ticket.price
              %td
                = ticket.tickets_sold
              %td
                = humanized_money_with_symbol ticket.tickets_turnover_total(ticket.id)
              %td
                = ticket.registration_ticket? ? 'Yes' : 'No'
              %td= ticket.start_date
              %td= ticket.end_date
              %td
                - if ticket.event
                  = link_to ticket.event.title, admin_conference_program_event_path(@conference, ticket.event)

              %td
                - if ticket.dependent
                  = link_to ticket.dependent.title, admin_conference_ticket_path(@conference, ticket.dependent)
              %td
                .btn-group
                  = link_to 'Edit', edit_admin_conference_ticket_path(@conference.short_title, ticket.id),
                  method: :get, class: 'btn btn-primary'

                  = link_to 'Duplicate', new_admin_conference_ticket_path(@conference, ticket_id: ticket), class: 'btn btn-success'

                  = link_to 'Delete', admin_conference_ticket_path(@conference.short_title, ticket.id),
                  method: :delete, class: 'btn btn-danger',
                  data: { confirm: "Do you really want to delete the Ticket for #{ticket.title}? Attention: All ticket purchases will be also deleted!" }

.row
  .col-md-12
    = link_to 'Add Ticket', new_admin_conference_ticket_path, class: 'btn btn-success pull-right'
    = link_to 'Tickets Sold', admin_conference_physical_tickets_path, class: 'button btn btn-default btn-info pull-right'
