.div
  .col-md-12.table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th Ticket
          %th Quantity
          %th Price
          %th Total
      - total_amount = 0
      %tbody
      - @unpaid_ticket_purchases.each do |ticket|
        %tr
          %td
            = ticket.title
          %td
            = ticket.quantity
          %td
            = price_with_discount(ticket.ticket, @user_registration, true)
          %td
            - amount = ticket.quantity * ticket.price - Money.new(ticket.quantity * ticket.ticket.discount(@user_registration) *100, ticket.price_currency)
            - total_amount += amount
            = humanized_money_with_symbol(amount)
      - overall_discount = current_user.overall_discount(@conference, total_amount)
      - if overall_discount > 0
        %tr
          %td{ colspan: 2, title: "Discount is calculated based on the coupons you have applied in your registration page" } Discount
          %td
            = simple_format(overall_discount_text(@conference))
          %td= humanized_money_with_symbol(overall_discount)

- if ENV['PAYMILL_PRIVATE_API_KEY'].present?
  = render partial: 'paymill_payment', locals: { overall_discount: overall_discount}
- else
  = form_tag conference_payments_path do
    %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
          data: { amount: @total_amount_to_pay.cents, label: "Pay #{humanized_money_with_symbol @total_amount_to_pay}",
            email: current_user.email, currency: @total_amount_to_pay.currency, name: ENV['OSEM_NAME'] || 'OSEM',
            description: "book your tickets", key: Rails.application.secrets.stripe_publishable_key, locale: "auto"}}
    = link_to 'Edit Purchase', conference_tickets_path(@conference.short_title), class: 'btn btn-default'
